@font-face { /*Fuentes tipograficas*/
    font-family: 'Calibri-onpe';
    src: url('fonts/calibri.eot');
    src: url('fonts/calibri.eot?#iefix') format('embedded-opentype'),
         url('fonts/calibri.woff2') format('woff2'),
         url('fonts/calibri.woff') format('woff'),
         url('fonts/calibri.ttf') format('truetype'),
         url('fonts/calibri.svg#edgarregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
      background-position: center center;
      background-repeat: no-repeat;  
      background-attachment: fixed;
      background-size: cover;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}

body { 
  height: 100%; 
  margin: 0; 
  text-align: center;
}
html,
body {
  display: table;
  width: 100%;
  height: 100%;
}
.clase-general{
  display: table-row;
}

footer{
      display: table-row;
      position:relative;
      z-index: 8;
}


/***************************/
/*inico de estlos para pie */
/***************************/
.pie_pagina {
    text-align: center;
    padding: 4px;
    margin-top: -15px;
    height: 15px;
    font-size: 14px;

}

.pie_pagina p {
  color: #111;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
       -moz-font-weight: 500;
    letter-spacing: 0px;
}

footer{     
      display: table-row;
      position:relative;
      z-index: 8;
}

/*************************/
/*fin de estlos para pie */
/*************************/

.login-cont{
        display: inline-block;
    width: 320px;
    padding:20px;
    background: #6475B7 ;
    margin-top: 11%;
 animation-duration: 1s;
  animation-name:saparecer;
  -moz-animation-duration:1s;
  -o-animation-duration:1s;
  -ms-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -moz-animation-name: saparecer;
  -o-animation-name: saparecer;
  animation-name: saparecer;
  -ms-animation-name: saparecer;
  -webkit-animation-name: saparecer;
}

@keyframes saparecer {
  from {

      opacity: 0;


  }
  to {
       opacity: 1;

  }

}

.cabecera{
    background: aqua;
    padding: 11px;
    -webkit-box-shadow: 0px 0px 29px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 29px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 29px -6px rgba(0,0,0,0.75);

}
