﻿#Content-Proveedor{
    background-color:#cbd4b5;
  
}
/*.input{
text-transform: uppercase;
}*/
/*#input[type="text"] {
text-transform: uppercase;
}*/
.hide-close .ui-dialog-titlebar-close { display: none }

#Proveedor-Reg{
    font-size:12px;
    width:400px;
    margin:auto;
    padding:10px;
    border:groove;

}
/*#Filtrobusqueda{
    font-size:12px;
    width:1000px;
    margin-left:initial;
    padding:10px;
    text-align:left;
}*/

#Proveedor-Reg .btn {
    background-color:#808080;
}

