﻿body {
    
}
#divImprimirRQ { 
    margin: 30px auto; 
    padding: 20px 60px;
    border: 1px solid #D2D2D2;
    font-family: Arial; 
    font-size: 11px; 
    line-height: 1.6; 
    color: #444;
            
    width:800px;
    min-height:750px;  
}
.td-lbl{
    width:523px;
}
.td-lbl label{
    line-height: 0px;
}
#tbVerRq td{
    padding:10px 10px 0 0;
}
#tbVerRq #tdDetalle{
    padding:0px 0px 0 0;
}
#tbRq-Detalle th {
    text-align:center;
}
#tbRq-Detalle td,#tbRq-Detalle th {
    border: 1px solid black;padding:0px;
}

#tbExcelRq td{
    padding:10px 10px 0 0;    
}
#tbExcelRq #tdExcelDetalle{
    padding:0px 0px 0 0;    
}
#tbExcelRq-Detalle th {
    text-align:center;
}
#tbExcelRq-Detalle td,#tbExcelRq-Detalle th {
    border: 1px solid black;padding:0px;
}

