﻿nav {
    background-color:#73b0dc;
}
.dropdown-menu>li
{	position:relative;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
	cursor:pointer;
}
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    display:none;
    margin-top: 10px;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
	/*border-left-color:#fff;*/
	box-shadow:none;
}
.right-caret:after
 {	content:"";
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-left: 6px solid orange;
    display: inline-block;
    height: 0;
    opacity: 0.8;
    vertical-align: middle;
    width: 0;
	margin-left:5px;
}
.left-caret:after
{	content:"";
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-right: 6px solid orange;
    display: inline-block;
    height: 0;
    opacity: 0.8;
    vertical-align: middle;
    width: 0;
	margin-left:5px;
}
.fa fa-minus-square {
    width: 11px;
    margin-left: 5px;
}