﻿<%@ Page Title="" Language="C#" MasterPageFile="~/SEC.Master" AutoEventWireup="true" CodeBehind="Home.aspx.cs" Inherits="SEC_WEB.Home.HOME" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style>
        #dvContHome {
            text-align:center;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div id="dvContHome">
        <h1><b><i>Sistema Logístico de Contrucción</i></b></h1>
    </div>

   
    <asp:HiddenField ID="hdf_Usuario" runat="server" />
</asp:Content>

