﻿<%@ Page Title="" Language="C#" MasterPageFile="~/SEC.Master" AutoEventWireup="true" CodeBehind="frmPresupuestoCompra.aspx.cs" Inherits="SEC_WEB.Logistica.Compras.frmPresupuestoCompra" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <h2>vamossss</h2>
        <div id="Proveedor-Grid">
        <table id="jQGridDemo"></table>
        <div id="jqGridPager"></div>
    </div>

    <script type="text/javascript" src="../../Scripts/JS_SEC/Logistica/Compras/SolicitudCompras.js"></script>
</asp:Content>
